/* Navbar
========================================= */
#navbar {
  padding: 1rem 1rem;
}

/* Container */
.container {
  max-width: 60%;
  margin: auto;
}

/* Navbar Brand */
.navbar-brand {
  float: left;
  padding: 1rem 0;
}

.navbar-brand a {
  font-size: 1.5rem;
}

.navbar-navigation {
  padding: 1rem 0;
}

.navbar-navigation ul li {
  display: inline-block;
  float: left;
}

.navbar-navigation ul li a {
  color: var(--color-scend);
}

.navbar-navigation-social {
  float: left;
}

.navbar-navigation-social ul li {
  padding-left: 2rem;
}

.navbar-navigation-social ul li span {
  display: block;
  width: 1px;
  height: 1rem;
  background-color: black;
}

.navbar-navigation-links {
  float: right;
}

.navbar-navigation-links ul li {
  padding-left: 2rem;
}

.navbar-navigation-links ul li a {
  font-size: 0.9rem;
}
