:root {
  --color-primary: #f5ba4b;
  --color-scend: #fff;
  --color-black: #000;
  --color-gray: #3333332a;
  --color-withe-fade: #ffffff3e;
  --color-withe-fade2: #ffffffa6;

  --transition: 0.3s ease-in-out;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  direction: ltr;
  font-family: Helvetica;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-scend);
}

.clearfix::after,
.clearfix::before {
  content: "";
  display: table;
  clear: both;
}

/* Container */
.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992) {
  .container {
    max-width: 910px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}